@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-hero-container {
  background-color: #1F2937;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 169px;
  padding-right: 169px;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 24px;
}

.header-item {
  color: #F9FAF8;
}

.header-logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
}

.header-link {
  font-size: 18px;
}

.hero-container {
  display: flex;
  color: #F9FAF8;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.hero-text {
  font-size: 48px;
  font-weight: bolder;
}

.hero-item {
  flex: auto;
}

.hero-right > img {
  height: 360px;
  width: auto;
}

.hero-button > button {
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
  padding: 69px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 69px;
}

.info-content > img {
  height: 240px;
  width: 280px;
  border-radius: 6px;
}

.info-content {
  text-align: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #e5e7eb;
  padding-left: 269px;
  padding-right: 269px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 1;
  font-style: italic;
}

.quote-author {
  color: black;
  font-weight: bolder;
}

.cta-container {
  color: #F9FAF8;
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 6px;
}

.cta-text-big {
  font-weight: bolder;
  font-size: 22px;
}

.cta-button-container > button {
  background-color: #3882F6;
  border: #F9FAF8;
  border-width: 2px;
  padding: 10px 24px;
  border-style: solid;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  white-space: nowrap;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  text-align: center;
  padding: 30px;
}